.headerone{
    
    display: flex;
  
    margin: 0 auto;
}
.Shoplego{
 margin-top: 20px;
 font-size: 35px;
}
.SearchBar{
    margin-top: 10px;
    margin-left: 200px;
    width: 613px;
    height: 56px;
    border-radius: 30px;
}
.LoopSearch{
    margin-top: 6px;
}
.telnumber{
    margin-top: 20px;
    
    margin-left: 100px;
    font-size: 20px;
}
.telegram{
    margin-left: 50px;
    margin-top: 5px;
}
.love{
    margin-top: 30px;
    margin-left: 20px ;
    font-size: 16px;
}
li{
    list-style: none;
}

.main-header{
    width: 1920px;
    height: 66px;
    background-color: #FFC42E;
}

.ul-two{
    display: flex;
    gap: 120px;
    
}

.li-two{
    margin-top: 15px;
    font-size: 32px;
}

.supportteam{
    display: flex;
}
.supportmean{
    font-size: 24px;
    margin-top: 15px;
}
.mainsale{
    margin-left: 300px;
}
.main-onetab{

}
.lego-series{
    margin-left: 450px;
    display: flex;
    gap: 180px;
}
.h1-main{
    
    font-size: 55px;
    margin-left: 780px;
}

.div-main-half{
    width: 1920px;
    height: 80px;
    background-color: #FFC42E;
    margin-top: 100px;
}

.main-twotab{

}

.card{
    
    background-color: #FFC42E;
    width: 378px;
    height: 420px;
    border-radius: 30px;
    margin-left: 80px;
    margin-top: 20px;
    
    
}
.cards{
margin-left: 210px;
gap: 50px;
width: 1500px;
height: 730px;
display: flex;
flex-wrap: wrap;

border-radius: 30px;
}
.serianabora{
    text-align: center;
    /* margin-left: 25%; */
    font-size: 20px;
}
.namenabora{
    text-align: center;
    /* margin-left: 23%; */
    font-size: 20px;
}
.praicenabora{
    text-align: center;
    /* margin-left: 40%; */
    font-size: 20px;
}
.more-button{
    width: 238px;
    height: 77px;
    background-color: red;
    color: white;
    border-radius: 30px;
    font-size: 20px;
}

.button-div{
    margin-top: 350px;
    margin-left: 45%;
}

footer{
    margin-top: 100px;
    width: 1920px;
    height: 100px;
    background-color: black;
}
.li-footer{
    color: white;
    margin-top: 11px;
}